amqp==5.0.6
bcrypt==3.2.0
billiard==3.6.4.0
cachetools==4.2.2
celery==5.0.5
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
cssselect==1.1.0
cssutils==2.2.0
dnspython==2.1.0
ecdsa==0.14.1
email-validator==1.1.2
emails==0.6
fastapi==0.63.0
h11==0.12.0
idna==2.10
importlib-metadata==4.0.1
kombu==5.0.2
lxml==4.6.3
motor==2.4.0
passlib==1.7.4
premailer==3.8.0
prompt-toolkit==3.0.18
pyasn1==0.4.8
pycparser==2.20
pydantic==1.8.1
pymongo==3.11.3
python-dateutil==2.8.1
python-dotenv==0.17.1
python-jose==3.2.0
python-multipart==0.0.5
pytz==2021.1
requests==2.25.1
rsa==4.7.2
six==1.15.0
starlette==0.13.6
typing-extensions==3.7.4.3
urllib3==1.26.4
uvicorn==0.13.4
vine==5.0.0
wcwidth==0.2.5
zipp==3.4.1
cloudinary